html {
    background-color: beige;
}

header {
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

main {
    max-width: 800px;
    margin: auto;
    padding: 24px;
}

footer {
    background-color:burlywood;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center
}

body {
    margin: 0
}

.book-cover {
    padding: 24px;
    width: 200px;
    height: auto;
    grid-row-start: 1;
    grid-row-end: 6
}

.main-page-book-review {
    padding: 24px;
    border: 1px solid lightblue;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: dimgray
}

.detail-page-book-review {
    padding: 24px;
    border: 1px solid lightblue;
    background-color: white;
}

.book-review-form {
    padding: 24px;
    background-color: white;
}

button {
    padding: 12px;
    font-size: 110%
}

input {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px
}

textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px
}
